<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Negative-word-share"/>
    <meta property="og:description" content="人生で傷ついた言葉を共有してみんなでなぐさめ合うサービス"/>
    <meta property="og:image" content="https://i.gyazo.com/c02a9c9c3f14d841019edb69e0682818.png"/>
    <meta property="og:url" content="https://negative-word-share.herokuapp.com/"/>
    <meta property="og:type" content="article"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Negative-word-share">
    <meta name="twitter:site" content="@Ws44olu6bygWDyB" />
    <meta name="twitter:image" content="https://i.gyazo.com/7823c0465a8ec3a13e38f8b84ebea3fd.png"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-126X5123ER"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-126X5123ER');
    </script>
  </head>
  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
      <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
